In [3]:
#Import Packages

import pandas as pd
import numpy as np

In [4]:
#Import the full data
#No need to add names on user profile since it already provide header
dfprofile = pd.read_csv("userid-profile.tsv",sep='\t')
data = pd.read_csv("userid-timestamp-artid-artname-traid-traname.tsv",sep='\t',\
                   names=['userId','song_play_start_time','artist-id','artist-name','track-id','track-name'])

In [5]:
dfprofile=dfprofile.rename(columns={'#id': 'userId','registered':'signupDate'})
print (len(dfprofile))
dfprofile.head(2)

992

        userId gender  age country    signupDate
0  user_000001      m  NaN   Japan  Aug 13, 2006
1  user_000002      f  NaN    Peru  Feb 24, 2006

In [6]:
print (len(data))
data.head(2)

19098862

,userId,song_play_start_time,artist-id,artist-name,track-id,track-name
0,user_000001,2009-05-04T23:08:57Z,f1b1cf71-bd35-4e99-8624-24a6e15f133a,Deep Dish,NaN,Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1,user_000001,2009-05-04T13:54:10Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,NaN,Composition 0919 (Live_2009_4_15)

## Users

## Confirm if there are any missing values or unreal data

In [7]:
# Gender
dfprofile.gender.describe()

count     884
unique      2
top         m
freq      502
Name: gender, dtype: object

In [8]:
# Age
dfprofile.age.describe()

count    286.000000
mean      25.367133
std        8.314952
min        3.000000
25%       21.000000
50%       23.000000
75%       28.000000
max      103.000000
Name: age, dtype: float64

In [9]:
#country
dfprofile.country.describe()

count               907
unique               66
top       United States
freq                228
Name: country, dtype: object

In [10]:
#signupdate
dfprofile.loc['signupDate'] = pd.to_datetime(dfprofile['signupDate'],infer_datetime_format=True)
dfprofile.signupDate.describe()

count             984
unique            625
top       Dec 6, 2005
freq                6
Name: signupDate, dtype: object

### Missing values

In [11]:
for column in list(dfprofile.columns):
    print ("{}% of the data from {} column is missing".format(round(dfprofile[column].isnull().sum() * 100 / len(dfprofile[column]),2), column))

0.1% of the data from userId column is missing
10.98% of the data from gender column is missing
71.2% of the data from age column is missing
8.66% of the data from country column is missing
0.91% of the data from signupDate column is missing

In [18]:
# Let's drop the rows where userId is missing
dfprofile = dfprofile.loc[dfprofile['userId'].notnull()]

In [19]:
for column in list(dfprofile.columns):
    print ("{}% of the data from {} column is missing".format(round(dfprofile[column].isnull().sum() * 100 / len(dfprofile[column]),2), column))

0.0% of the data from userId column is missing
10.89% of the data from gender column is missing
71.17% of the data from age column is missing
8.57% of the data from country column is missing
0.81% of the data from signupDate column is missing

## User listening data

In [12]:
data[['userId','song_play_start_time','artist-id','artist-name','track-id','track-name']].describe()

,userId,song_play_start_time,artist-id,artist-name,track-id,track-name
count,19098862,19098862,18498009,19098862,16936136,19098850
unique,992,17454739,107295,173923,960402,1083480
top,user_000949,2009-02-26T21:29:15Z,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,db16d0b3-b8ce-4aa8-a11a-e4d53cc7f8a6,Intro
freq,183103,248,115099,115099,3991,17561

### Missing Values

In [13]:
for column in list(data.columns):
    print ("{}% of the data from {} column is missing".format(round(data[column].isnull().sum() * 100 / len(data[column]),2), column))

0.0% of the data from userId column is missing
0.0% of the data from song_play_start_time column is missing
3.15% of the data from artist-id column is missing
0.0% of the data from artist-name column is missing
11.32% of the data from track-id column is missing
0.0% of the data from track-name column is missing

In [14]:
# Let's drop the rows where artistId is missing
data = data.loc[data['artist-id'].notnull()]

In [15]:
# Let's drop the rows where track-id is missing
data = data.loc[data['track-id'].notnull()]

In [16]:
for column in list(data.columns):
    print ("{}% of the data from {} column is missing".format(round(data[column].isnull().sum() * 100 / len(data[column]),2), column))

0.0% of the data from userId column is missing
0.0% of the data from song_play_start_time column is missing
0.0% of the data from artist-id column is missing
0.0% of the data from artist-name column is missing
0.0% of the data from track-id column is missing
0.0% of the data from track-name column is missing

## Merge the datasets and sampling

In [20]:
# Merge the data
data = pd.merge(data, dfprofile, on='userId', how='left')
len(data)
data.head(2)

,userId,song_play_start_time,artist-id,artist-name,track-id,track-name,gender,age,country,signupDate
0,user_000001,2009-05-04T13:06:09Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,f7c1f8f8-b935-45ed-8fc8-7def69d92a10,The Last Emperor (Theme),m,NaN,Japan,"Aug 13, 2006"
1,user_000001,2009-05-04T12:55:34Z,a7f7df4a-77d8-4f12-8acd-5c60c93f4de8,坂本龍一,475d4e50-cebb-4cd0-8cd4-c3df97987962,Tibetan Dance (Version),m,NaN,Japan,"Aug 13, 2006"

In [21]:
#Save Cleaned Data
data.to_csv('merged-data.csv')

In [31]:
len(data)

16936136

In [22]:
#From sample calculator, we can refer that we can only sample 278 user size if our total population size is 992 users
#This will under the 95% confidence interval with 5% margin of error
#As a result, we can use the sample size equal 278.
#https://www.surveymonkey.com/mp/sample-size-calculator/

In [25]:
# Subset
#We randomly choose user sample size=278 from user population size 992
dfprofilesam = dfprofile.loc[np.random.choice(dfprofile.index,size=278,replace=False)]
print (dfprofile.shape)
print (dfprofilesam.shape)
dfprofilesam.head()

(992, 5)
(278, 5)

          userId gender  age         country    signupDate
941  user_000949      f  NaN   United States  May 30, 2005
410  user_000414      m  NaN  United Kingdom   Apr 5, 2004
762  user_000770      f  NaN   United States  Oct 18, 2006
556  user_000563      m  NaN           Italy  Dec 27, 2006
678  user_000686      f  NaN   United States  Feb 23, 2007

In [39]:
#Merge to original raw event
dfsmall = pd.merge(data, dfprofilesam, on='userId', how='inner')
len(dfsmall)
dfsmall.head(2)

,userId,song_play_start_time,artist-id,artist-name,track-id,track-name,gender_x,age_x,country_x,signupDate_x,gender_y,age_y,country_y,signupDate_y
0,user_000003,2009-04-21T16:56:35Z,4730a989-8cf4-437b-9825-135f01644eab,Dirt Nasty,f8ef2c6a-e71f-4f57-a8d5-876835192b0a,True Hollywood Story,m,22.0,United States,"Oct 30, 2005",m,22.0,United States,"Oct 30, 2005"
1,user_000003,2009-04-21T16:47:11Z,4730a989-8cf4-437b-9825-135f01644eab,Dirt Nasty,2c04113a-746b-491f-b999-892600730604,Gotta Leave This Town,m,22.0,United States,"Oct 30, 2005",m,22.0,United States,"Oct 30, 2005"

In [40]:
len(dfsmall)

4804735

In [41]:
dfsmall.to_csv('merged-subset.csv',index=0)